@page "/debtor"
@attribute [Authorize]

@using InvoiceGen.App.Data
@using InvoiceGen.Api
@using InvoiceGen.Api.Models;
@attribute [Authorize]

<PageTitle>Debiteuren</PageTitle>

<h1>Debiteuren</h1>

@if (_addresses == null)
{
    <p><em>Debiteuren laden...</em></p>
}
else
{
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="AddAddress"> Maak debiteur </Button>
    <Grid @ref="grid" TItem="Address" class="table table-hover table-bordered table-striped mt-3" Data="_addresses"
          AllowFiltering
          AllowSorting
          AllowPaging
          PageSize="5"
          AllowRowClick
          OnRowDoubleClick="EditAddress">
        <GridColumn TItem="Address" HeaderText="Bedrijfsnaam" PropertyName="CompanyName">
            @context.CompanyName
        </GridColumn>
        <GridColumn TItem="Address" HeaderText="Straat" PropertyName="Street">
            @context.Street
        </GridColumn>
        <GridColumn TItem="Address" HeaderText="Plaats" PropertyName="City">
            @context.City
        </GridColumn>
        <GridColumn TItem="Address" HeaderText="Postcode" PropertyName="ZIP">
            @context.Zip
        </GridColumn>
        <GridColumn TItem="Address" HeaderText="E-mail" PropertyName="Email">
            @context.Email
        </GridColumn>
        <GridColumn TItem="Address" HeaderText="Telefoon" PropertyName="Phone">
            @context.Phone
        </GridColumn>
    </Grid>

    <Modal @ref="modal" IsVerticallyCentered="true" Size="ModalSize.Large">
        <FooterTemplate>
            <Button Color="ButtonColor.Danger" @onclick="OnRemoveClick">Verwijderen</Button>
            <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Sluiten</Button>
            <Button Color="ButtonColor.Primary" @onclick="OnSaveClick">Opslaan</Button>
        </FooterTemplate>
    </Modal>

    <ConfirmDialog @ref="dialog" />

}