@page "/invoices"
@using InvoiceGen.App.Data
@using InvoiceGen.Api
@using InvoiceGen.Api.Models;

@attribute [Authorize]

<PageTitle>Facturen</PageTitle>

<h1>Facturen</h1>

@if (_invoices == null)
{
    <p><em>Facturen laden...</em></p>
}
else
{

    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="AddInvoice"> Maak factuur </Button>
    <Grid @ref="grid" TItem="Invoice" class="table table-hover table-bordered table-striped mt-3" Data="_invoices"
          AllowFiltering
          AllowSorting
          AllowPaging
          PageSize="10"
          AllowRowClick
          OnRowDoubleClick="EditInvoice">
        <GridColumn TItem="Invoice" HeaderText="Factuurnummer" PropertyName="InvoiceId">
            @context.InvoiceId
        </GridColumn>
        <GridColumn TItem="Invoice" HeaderText="Factuurdatum" PropertyName="IssueDate">
            @context.IssueDate.Value.ToShortDateString()
        </GridColumn>
        <GridColumn TItem="Invoice" HeaderText="Debiteur" PropertyName="CustomerAddress.CompanyName">
            @context.CustomerAddress.CompanyName
        </GridColumn>

        <GridColumn TItem="Invoice" HeaderText="Commentaar" PropertyName="Comments">
            @context.Comments
        </GridColumn>

        <GridColumn TItem="Invoice" HeaderText="BTW" PropertyName="TotalVat">
            @context.TotalVat.ToString("C2")
        </GridColumn>
        <GridColumn TItem="Invoice" HeaderText="Totaal" PropertyName="TotalAmountWithVat">
            @context.TotalAmountWithVat.ToString("C2")
        </GridColumn>
    </Grid>

    <Modal @ref="modal" IsVerticallyCentered="true" Size="ModalSize.Large">
        <FooterTemplate>
            <Button Color="ButtonColor.Info" @onclick="OnGeneratePdf">Maak PDF</Button>
            <Button Color="ButtonColor.Danger" @onclick="OnRemoveClick">Verwijderen</Button>
            <Button Color="ButtonColor.Primary" @onclick="OnSaveClick">Opslaan</Button>
            <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Sluiten</Button>
        </FooterTemplate>
    </Modal>

    <ConfirmDialog @ref="dialog" />

    @if (showPdf)
    {
        <Button Color="ButtonColor.Secondary" @onclick="OnHidePdfViewerClick">Sluit PDF</Button>
        <PdfViewer Class="mb-3"
                   Url="@string.Format("data:application/pdf;base64,{0}", _pdfBase64)"
                   OnDocumentLoaded="OnDocumentLoaded"
                   OnPageChanged="OnPageChanged" />
    }

}

