@using InvoiceGen.Api.Models;

<div class="form-group row mb-3">
    <label class="col-md-2 col-form-label">Factuurnummer: </label>
    <div class="col-7 col-md-9"><input type="text" readonly disabled value="@invoice.InvoiceId" /></div>
</div>
<div class="form-group row mb-3">
    <label class="col-md-2 col-form-label">Factuurdatum: </label>
    <div class="col-md-10">
        <DateInput TValue="DateTime?" @bind-Value="invoice.IssueDate" Placeholder="Factuurdatum" />
    </div>
</div>

<div class="form-group row mb-3">

    <Grid @ref="orderItemsGrid" TItem="OrderItem" class="table table-hover table-bordered table-striped mt-3" Data="orderItems"
          AllowRowClick
          OnRowClick="SelectItem">
        <GridColumn TItem="OrderItem" HeaderText="Omschrijving" PropertyName="Name">
            @context.Name
        </GridColumn>
        <GridColumn TItem="OrderItem" HeaderText="Aantal" PropertyName="Quantity">
            @context.Quantity
        </GridColumn>
        <GridColumn TItem="OrderItem" HeaderText="Prijs" PropertyName="Price">
            @context.Price
        </GridColumn>
        <GridColumn TItem="OrderItem" HeaderText="BTW" PropertyName="VatAmount">
            @context.VatAmount.ToString("C2")
        </GridColumn>
        <GridColumn TItem="OrderItem" HeaderText="Totaal" PropertyName="Amount">
            @context.Amount.ToString("C2")
        </GridColumn>
    </Grid>
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="AddItem"> Voeg regel toe </Button>
</div>

@if (currentItem != null)
{
    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label">Omschrijving: </label>
        <div class="col-7 col-md-9">
            <InputText @bind-Value="currentItem.Name" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label">Aantal: </label>
        <div class="col-md-10">
            <NumberInput TValue="int" @bind-Value="currentItem.Quantity" Placeholder="Aantal" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label">Prijs: </label>
        <div class="col-md-10">
            <CurrencyInput TValue="double" @bind-Value="currentItem.Price" Locale="nl-NL" Placeholder="Prijs" />
        </div>
    </div>
    <Button Type="ButtonType.Button" Color="ButtonColor.Warning" @onclick="(args)=> RemoveOrderItem(args, currentItem)"> Verwijder regel </Button>
}

